.page_header {
    margin-bottom: 5rem;

    .banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
        }

        .title {
            position: absolute;
            z-index: 99;
            font-size: clamp(1.4rem, 7.6389vw + -2.2667rem, 3.6rem);
            font-family: "Poppins-regular";
            letter-spacing: 5px;
            color: var(--color-2);
        }
    }
}

@media screen and (max-width:480px){
    .page_header {
        .banner {
            height: 15rem;
        }
    }
}

